{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "body": {
      "userId": $util.toJson($context.arguments.userId),
      "groupName": $util.toJson($context.arguments.groupName)
    }
  }
}
