.cancel-button,
.save-button {
  padding: var(--spacing-small) var(--spacing-medium);
}

.cancel-button {
  background-color: var(--secondary-color);
  color: var(--background-white);
  border: none;
}

.save-button {
  background-color: var(--primary-color);
  color: var(--background-white);
  border: none;
}

.save-button:hover {
  background-color: var(--hover-color);
}
